.container-cart-button {
  display: flex;
}

.cart-button {
  background: rgb(244, 94, 119);
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 2.2rem;
  width: 2.2rem;
  justify-content: center;
  padding: 4px;
  transition: all 0.3s ease;
  z-index: 100;
}

.cart-button:hover {
  scale: 1.1;
  border: 0.5px solid white;
}

.units-cart {
  background: #373737;
  font-size: 0.7rem;
  border-radius: 50%;
  height: 1.6rem;
  margin-left: -0.7rem;
  margin-top: -0.7rem;
  z-index: 600;
}

@media (max-width: 767px) {
  .cart-button {
    height: 2rem;
    width: 2rem;
  }

  .units-cart {
    font-size: 0.6rem;
    height: 1.4rem;
  }
}
