.hidden {
  display: none;
}

.cart {
  display: flex;
  flex-direction: column;
  height: auto;
  background: #000;
  padding: 32px;
  padding-top: 3rem;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 200px;
  z-index: 1;
}

.cart ul {
  padding-top: 3rem;
}

.cart li {
  border-bottom: 1px solid #444;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.cart img {
  width: 80%;
  margin: 0 auto;
}

.quantity {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.button-units {
  padding: 8px;
}

.button-remove {
  padding: 4px;
}

.cart-button {
  align-items: center;
  background: rgb(244, 94, 119);
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  position: absolute;
  right: 50px;
  top: 50px;
  transition: all 0.3s ease;
  width: 32px;
  z-index: 10;
}

.cart-button:hover {
  scale: 1.1;
  border: 0.5px solid white;
}

@media (max-width: 767px) {
  .cart-button {
    right: 30px;
    top: 30px;
  }

  .cart {
    padding: 20px;
    padding-top: 3 rem;
    position: absolute;
    width: 150px;
  }
}
