.hidden {
  display: none;
}

.cart {
  display: flex;
  flex-direction: column;
  height: auto;
  background: #000;
  padding: 2rem;
  padding-top: 6rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  z-index: 10;
}

.empty-cart {
  margin: 3rem 0 0 0;
}

.cart li {
  border-bottom: 1px solid #444;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.cart img {
  width: 80%;
  margin: 0 auto;
}

.quantity {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.button-units {
  padding: 0.5rem;
}

.button-remove {
  padding: 0.2rem;
}

.button-see-product {
  margin-top: 1rem;
  font-size: 0.9rem;
  background-color: transparent;
  border: 1px solid #635f5f;
}

.clear-cart-button {
  width: 7rem;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .cart {
    width: 100%;
    background: #000;
    padding: 0 0 1rem 0;
    align-items: center;
  }

  .empty-cart {
    margin: 4rem 4rem 0 0;
  }

  .cart ul {
    margin-top: 2rem;
  }

  .cart li {
    width: 60%;
    margin: 0 auto;
  }

  .clear-cart-button {
    width: 7rem;
    margin: 0 auto;
  }
}
