/* .button-back {
  text-align: center;
  margin-top: 2rem;
  background-color: #403d3d;
  font-size: 0.9rem;
  padding: 0.4rem 0.6rem;
} */

.product {
  width: 70%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #373737;
  color: #fff;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 10px;
}

.product-container-1 {
  width: 40%;
}

.product-container-2 {
  width: 50%;
}

.product .product img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  background: #fff;
}

.product h3 {
  margin: 1rem 0.1rem;
}

.span-brand {
  font-size: 1rem;
  display: block;
}

.product-container-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.product p {
  line-height: 2rem;
  text-align: start;
}

.button-cart {
  width: 100%;
  margin: 1rem auto 0 auto;
}

.inCart {
  background-color: lightcoral;
}

.notInCart {
  background-color: transparent;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .product {
    width: 60%;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-top: 1rem;
  }

  .product-container-1 {
    width: 100%;
  }

  .product-container-2 {
    width: 90%;
    padding: 0;
  }

  .product p {
    line-height: 1.3rem;
  }

  .button-cart {
    width: 100%;
    margin: 1rem auto;
  }
}

@media (max-width: 767px) {
  /* .button-back {
    margin-top: 0;
  } */

  .product {
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin-top: 0;
  }

  .product-container-1 {
    width: 100%;
  }

  .product-container-2 {
    width: 100%;
    padding: 0;
    gap: 0;
  }

  .product h3 {
    font-size: 1rem;
  }

  .product span,
  .product p {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  .button-cart {
    width: 100%;
    margin: 1rem 0;
  }
}
