header {
  padding: 0rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: rgb(243, 165, 178);
  width: auto;
  z-index: 200;
}

@media (max-width: 767px) {
  header {
    padding: 0 1rem 0 1rem;
  }
}
