.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.products ul {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.products li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #111;
  color: #fff;
  padding: 1rem;
}

.products img {
  border-radius: 4px;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  background: #fff;
}

.product-information {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.products span {
  font-size: 1rem;
  opacity: 0.9;
}

.inCart {
  background-color: red;
}

.notInCart {
  background-color: transparent;
}

@media (max-width: 767px) {
  .products {
    margin-top: 20px;
  }

  .products ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
  }

  .products span {
    font-size: 0.9rem;
  }
}
